:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
        font-size: 1rem;
        min-height: 100vh; 
        font-family: "Figtree", sans-serif;
}

main {
    height: 100vh;
    background-color: var(--yellow);
    min-width: 23.43rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    padding-top: 5rem;
}

article{
    border: 1px solid var(--black);
    box-shadow: 0.5rem 0.5rem 0 0.3rem rgba(0, 0, 0);
    border-radius: 0.7rem;
    width: 23rem;
    padding: 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    background-color: var(--white);
}

.image-illustration-article img {
    max-width: 100%;
    border-radius: 0.7rem;
}

.button-learning {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    color: var(--black);
    font-weight: 800;
    border: none;
}

.button-learning p {
    font-weight: 800;
}

header {
    font-family: Figtree;
    font-weight: 800;
    color: var(--black);
    font-size: 1.5rem;
    margin: 1rem 0; 
}

header:hover {
color: var(--yellow);
cursor: pointer;
transition: all .1s ease-in-out;
}

.image-illustration-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    border-radius: 0.7rem;
}

p {
    color: var(--black);
    font-weight: 500;
}

p.blog-preview {
    line-height: 1.5;
}

.autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
}

.autor address {
    font-style: normal;
    display: inline-block;
    font-weight: 800;
}

.autor-avatar {
    display: inline-block;
    max-width: 50%;
}

.autor-avatar img {
    max-width: 50%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    align-self: center;
}

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 90rem) {
    article {
         margin: 0 auto; 
         max-width: 100%
    }
}




